*{
    font-family: 'Jaldi', sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}


@media only screen and (max-width: 270px) {
   .encrytion h5{
    font-size: 20px;
   }
  }


